@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Variables */
:root {
  --text-primary: #542e71;
  --background-colour: #84a9c099;
  --primary-dark: #542e71;
  --primary-light: #ddd8b8;
}

body {
  color: var(--text-primary);
  font-family: 'Raleway', sans-serif;
  background-color: var(--background-colour);
}

.flex {
  display: flex;
  align-items: center;
}

.user-container {
  justify-content: space-between;
  min-width: 90vw;
  max-width: 100vw;
}

.flex-column {
  margin: auto;
  flex-direction: column;
}

h1 {
  font-size: 4em;
}

.avatar {
  border-radius: 50%;
  width: 3rem;
}

.user {
  flex-direction: row;
}

.votetype {
  flex-direction: row;
  gap: 50px;
}

li {
  width: 70vw;
  border-style: solid;
  padding: 10px;
  list-style-type: none;
  margin-bottom: 20px;
  border-radius: 4%;
  background-color: #542e7121;
}

.poll-wrapper {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  gap: 20px;
}

.title-highlight {
  color: red;
}

h2 {
  width: fit-content;
  margin: auto;
}

button {
  border-radius: 10px;
  background-color: var(--primary-dark);
  border-style: none;
  color: var(--primary-light);
  margin: 0 20px;
  transform:translateY(2px);
  transition-duration: 150ms;
}

button:hover {
  cursor: pointer;
  background-color: rgba(174, 0, 255, 0.337);

}

button:active {
  background-color: rgba(174, 0, 255, 0.125);
  transform:translateY(5px);
}

.intro {
  width: 70%;
  margin: 10px auto;
  line-height: 24px;
  background-color: #542e7127;
  padding: 3px 15px;
  border-radius: 5%;
}

.log-button {
  margin: 20px 20px;
}
