@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* Variables */
:root {
    --text-primary: hsl(0, 0%, 30%);
}

body {
    color: var(--text-primary);
    font-family: 'Raleway', sans-serif;
}