@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Variables */
:root {
  --text-primary: hsl(0, 0%, 30%);
  --background-colour: hsl(76, 57%, 91%);
}

body {
  color: var(--text-primary);
  font-family: 'Raleway', sans-serif;
  background-color: var(--background-colour);
}

.flex {
  display: flex;
  align-items: center;
}

.user-container {
  justify-content: space-between;
  min-width: 90vw;
  max-width: 100vw;
}

.flex-column {
  margin: auto;
  flex-direction: column;
}

h1 {
  text-shadow: 10px;
}

.avatar {
  border-radius: 50%;
  width: 3rem;
}

.user {
  flex-direction: row;
}

.votetype {
  flex-direction: row;
  gap: 50px;
}

li {
  width: 70vw;
  border-style: solid;
  padding: 10px;
  list-style-type: none;
  margin-bottom: 20px;
}

.poll-wrapper {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  gap: 20px;
}

.title-highlight {
  color: red;
}
